<%- include('./partials/header') %>

<header>
  <img class="cover" src="./img/coldnyummy.png" alt="cover picture" />
</header>
<main>
  <form action="/vote" method="POST">
    <div class="inputes">
      <input type="text" name="name" />
      <input type="text" name="email" />
      <button>Send</button>
    </div>
    <section>
      <% for(flavour of flavours){ %>
      <article>
        <img
          class="ice-cream"
          src="./img/ice-cream.png"
          alt="ice cream picture"
        />
        <p><%= flavour.name %></p>
        <input
          checked
          type="radio"
          value="<%= flavour.name %>"
          name="flavour"
        />
      </article>
      <% } %>
    </section>
  </form>
</main>

<%- include('./partials/footer') %>
